	#giua{
		width: 100%;
		height :2200px;
	}
	#giua{
		background: #EEEEEE;	
	}
	#giua >.vien_trai{
		width:  10%;
		height: 100%;
		float : left ;

	}
	#giua >.giua{
		width:  80%;
		height: 100%;
		background : #EEEEEE;
		float : left ;
	}
	
	#giua>.giua >.san_pham{
		width :90%;
		height :400px;
		margin-top: 30px;
		margin-left: 5%;
		margin-right: 5%;
		background:#999999;
		border-radius: 10px;
		float: left;
	}
	#giua>.giua >.san_pham>.mat_hang{
		width :230px;
		height: 300px ;
		background: white;
		margin-top: 5px ;
		margin-left: 30px;
		float: left;
		display: block;
		border-radius: 10px;
	}
	#giua >.vien_phai{
		width:  10%;
		height: 100%;
		background : 
		#EEEEEE;
		float : left ;
	}
	#giua>.giua >.san_pham>.tieu_de{
		height: 15%;
		width: 100%;
	}	
	#giua>.giua >.san_pham>.tieu_de>.loai_san_pham{
		height: 100%;
		width: 80%;
		float: left;
		margin-top: -15px;
	}
	#giua>.giua >.san_pham>.tieu_de>.all{
		height: 100%;
		width: 20%;
		float: right;

		
	}
	#giua>.giua >.san_pham>.tieu_de>.all >a{
		margin-top:10px ;
		text-align: center;


		color: black;
		font-weight: 700;

	}
	a>.name{
		color: black;
		text-align: center;
		width: 100%;
		font-weight: 700;
		text-align: center;
		text-align: center;
		margin-top:10px;


	}
	a >.Gia{
		color: red; 	
		font-weight: 700;
		width: 100%;
		text-align: center;
		margin-top: -5px;
	}
